:root {
  font-size: 62.5%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  color: #e8e8e8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-logo {
  width: 19rem;
  margin-left: 10%;
  padding: 5%;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #e8e8e8;
  padding: 1rem;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
}
.navbar-links li a:hover {
  color: #fb7200;
}
.navbar-links li a:active {
  background-color: #5c5c5c;
}

.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem;
}

.toggle-button .bar {
  height: 0.3rem;
  width: 100%;
  background-color: #e8e8e8;
  border-radius: 1rem;
}

@media (max-width: 638px) {
  .header-logo {
    padding: 2%;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links li a:hover {
    background-color: #5c5c5c;
  }

  .navbar-links.active {
    display: flex;
  }
}
:root {
  font-size: 62.5%;
}

footer {
  background-color: #333;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  min-height: 14.4rem;
}

.footer-logo {
  width: 100%;
  max-width: 70rem;
}

.footer-image {
  width: 20rem;
  padding: 1rem;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footer-contact {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  color: #fb7200;
  margin: 0;
  padding: 0;
}

.footer-ul {
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer-ul li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #e8e8e8;
}

.footer-icons {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.fa-instagram {
  color: #e8e8e8;
  font-size: 2.4rem;
}
.fa-instagram:hover {
  color: #7b7b7b;
}

.fa-linkedin {
  color: #e8e8e8;
  font-size: 2.3rem;
}
.fa-linkedin:hover {
  color: #7b7b7b;
}

.fa-facebook-square {
  color: #e8e8e8;
  font-size: 2.3rem;
}
.fa-facebook-square:hover {
  color: #7b7b7b;
}

.fa-twitter-square {
  color: #e8e8e8;
  font-size: 2.3rem;
}
.fa-twitter-square:hover {
  color: #7b7b7b;
}

@media screen and (max-width: 600px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
  }

  .footer-address {
    padding: 3.5%;
  }

  .footer-icons {
    width: 100%;
    max-width: 60%;
    padding: 2%;
  }
}
@media screen and (min-width: 1025px) {
  ::-webkit-scrollbar {
    width: 1rem;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #333;
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #fb7200;
  }
}
body {
  background: #333333;
}

.title {
  color: #FB7200;
  font-family: "Righteous", sans-serif;
  text-align: center;
  font-size: 3rem;
  text-shadow: 1rem 1rem 2rem #000;
}

@media screen and (max-width: 48rem) {
  .title {
    color: #000;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
  }
}
.container {
  display: grid;
  max-width: 87, 5rem;
  width: 100%;
  padding: 0 6rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
  min-height: 70vh;
}

.grid {
  display: grid;
  width: 100%;
  grid-gap: 3rem;
}

.column-left {
  grid-column: 1/2;
}

.column-middle {
  grid-column: 2/3;
}

.column-right {
  grid-column: 3/4;
}

.kemi {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1rem solid #7b7b7b;
  border-radius: 2rem;
  box-shadow: 0.3rem 0.3rem 0.6rem 0.3rem #000;
}

@media screen and (max-width: 48rem) {
  .kemi {
    width: 100%;
    border: 0.6rem solid #000;
    border-radius: 1rem;
  }
}

/*# sourceMappingURL=kemi.css.map */
