@use 'fonts';
@use 'colors';

:root {
    font-size: 62.5%;
}

body{
	margin:0;
	padding:0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: colors.$dark;
    color: colors.$light;
}

.header-logo {
    width: 19rem;
    margin-left: 10%;
    padding: 2%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: colors.$light;
    padding: 1rem;
    display: block;
    font-family: fonts.$secondary;
    font-size: 1.7rem;

    &:hover {
        color: colors.$logo;
    }

    &:active {
        background-color: colors.$dusk;
    }
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2.1rem;
}

.toggle-button .bar {
    height: .3rem;
    width: 100%;
    background-color: colors.$light;
    border-radius: 1rem;
}

@media (max-width: 638px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links li a:hover {
        background-color: colors.$dusk;
    }

    .navbar-links.active {
        display:flex;
    }
}