// ***** Authored Dependencies *****

@use "../base/colors";
@use "../base/fonts";
@import "../base/buttons";
@import "../base/scrollbar";
@import "../base/navbar";
@import "../base/footer";

// ***** Generic *****

:root {
    font-size: 62.5%;
}

// body {
//     background-color: #333;
// }

// ***** Container *****

.contact {
    width: 100%;
    min-height: 100vh;

    // ***** Background Image *****

    &__image {
        background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("../../images/glasbruk-etc.jpg") no-repeat fixed;
        background-size: cover;
        background-position: 30%;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    // ***** Header *****

    &-header {
        width: 90%;
        height: 15vh;
        display: flex;
        align-items: flex-end;
    }

    &__heading {
        font-family: fonts.$secondary;
        color: colors.$light;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: .1rem;
        margin-bottom: 2rem;
        
    }
}

// ***** Form *****

.contact-form {
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__wrapper {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
    }

    &__container {
        width: 78%;
        max-width: 50rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__input {
        height: 3.2rem;
        background-color: colors.$light;
        opacity: 80%;
        border-radius: .3rem;
        border: .1rem solid colors.$shadow;
        box-shadow: 0 0 0 .3rem colors.$light;

        &--large {
            height: 20rem;
        }
    }
    
    &__label {
        font-family: fonts.$secondary;
        font-size: 1.3rem;
        color: colors.$light;
        letter-spacing: .08rem;
        margin-bottom: .5rem;
    }
}

// ***** Media Queries *****

@media (min-width: 481px) and (min-height: 481px) {
    .contact {

        &__heading {
            font-size: 4.3rem;
        }
    }
}
