// ***** Authored Dependencies *****

@use "../base/colors";
@use "../base/fonts";
@import "../base/buttons";
@import "../base/flex-col";
@import "../base/scrollbar";
@import "../base/navbar";
@import "../base/footer";

// ***** Generic *****

:root {
    font-size: 62.5%;
}

// body {
//     background-color: #333;
// }

// ***** Container *****

.contact {
    width: 100%;
    min-height: 100vh;

    // ***** Background Image *****

    &__image {
        background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("../../images/glasbruk-etc.jpg") no-repeat fixed;
        background-size: cover;
        background-position: 30%;
        width: 100%;
        min-height: 100vh;
        @include column;
        align-items: center;
    }
    
    // ***** Header *****

    &-header {
        width: 90%;
        height: 18vh;
        display: flex;
        align-items: flex-end;
    }

    &__heading {
        font-family: fonts.$secondary;
        color: colors.$light;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: .1rem;
        margin-bottom: 2rem;
        
    }
}

// ***** Form *****

.contact-form {
    width: 100%;
    height: 80rem;
    @include column;
    overflow: hidden;

    &__wrapper {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
    }

    &__container {
        width: 78%;
        max-width: 50rem;
        @include column;
        justify-content: space-evenly;

        &--message {
            justify-content: space-between;
        }
    }

    &__item {
        @include column;
    }

    &__input {
        height: 3.2rem;
        background-color: colors.$light;
        opacity: 80%;
        border-radius: .3rem;
        border: .1rem solid colors.$shadow;
        box-shadow: 0 0 0 .3rem colors.$light;
        font-family: fonts.$secondary;
        font-size: 1.6rem;
        color: colors.$shadow;
        padding: 0 1rem;
        outline-style: none;

        &:focus {
            box-shadow: 0 0 0 .3rem colors.$logo;
        }

        &--large {
            height: 20rem;
        }
    }
    
    &__label {
        font-family: fonts.$secondary;
        font-size: 1.3rem;
        color: colors.$light;
        letter-spacing: .08rem;
        margin-bottom: .5rem;
    }

    &__button-container {
        height: 50rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;

    }

    &__btn-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    &__button {
        @include button;
        font-size: 1.8rem;
    }
}

// ***** Media Queries *****

@media (min-width: 481px) and (min-height: 481px) {
    .contact {

        &-header {
            margin-bottom: 2rem;
        }

        &__heading {
            font-size: 4.3rem;
        }
    }

    .contact-form {
        height: 120rem;

        &__wrapper {
            height: 36%;
        }

        &__input {
            height: 4.2rem;
            border: .2rem solid colors.$shadow;
            box-shadow: 0 0 0 .5rem colors.$light;
            font-size: 2rem;

            &--large {
                height: 25rem;
            }
        }
       

        &__label {
            font-size: 2rem;
        }

    }
}

@media screen and (min-width: 1025px) {
    .contact {
        
        &-header {
            margin: 0;
        }

        &__heading {
            margin: 0;
        }
    }

    .contact-form {
        width: 90%;
        max-width: 120rem;
        height: 60rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &__wrapper {
            height: 65%;
        }

        &__container {
            justify-content: space-between;
        }
    }
}
