// ***** Authored Dependencies *****

@use "../base/colors";
@use "../base/fonts";
@import "../base/buttons";
@import "../base/navbar";
@import "../base/footer";

// ***** Generic *****

:root {
    font-size: 62.5%;
}

.contact {
    width: 100%;
    height: 100vh;

    // ***** Background Image *****

    &__image {
        background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("../../images/glasbruk-etc.jpg") no-repeat fixed;
        background-size: cover;
        background-position: 30%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__container-header {
        width: 90%;
        height: 15%;
        display: flex;
        align-items: flex-end;
    }

    &__container-form {
        width: 85%;
        height: 85%;
    }

    &__heading {
        font-family: fonts.$secondary;
        color: colors.$light;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: .1rem;
        
    }
}

@media (min-width: 481px) and (min-height: 481px) {
    .contact {

        &__heading {
            font-size: 4.3rem;
        }
    }
}